.game {
    border:none;
    margin-left: 2.5%;
    margin-top: 10px;
}

.hidden {
    visibility: none;
    display: none;
}
.input-group-addon{
            min-width: 150px;
}
   input[type=checkbox]{
            margin-left: 20px;
            margin-top: 8px;
        }